* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.container-fluid {
    width: 100%;
    height: auto;
    background-color: green;
}

.container {
    width: auto;
    max-width: 900px;
    height: auto;
    background-color: red;
    margin: 0 auto;
    text-align: center;
}

/* apply vertical-align: middle */
header h1 {
    color: white;
    display: inline-block;
    padding: 5px 0 5px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1.5rem;
}

/* apply vertical-align: middle */
header ul {
    color: white;
    display: inline-block;
    margin-left: 400px;
    box-sizing: border-box;
    vertical-align: middle;
}

header ul li {
    color: white;
    display: inline-block;
    margin-left: 30px;
    font-size: 0.9rem;
}

header .sign-up-button {
    /* background-color: greenyellow; */
    border: 1px solid yellow;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
}

header h2 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: yellow;
}


.banner {
    height: 300px;
    background-color: orange;
    padding: 80px 50px;
    box-sizing: border-box;
    text-align: left;
}

.banner h1 {
    color: blue;
    margin-bottom: 10px;
}

.banner p {
    line-height: 1.5rem;
}

.price-holder {
    width: 49.842%;
    height: 300px;
    background-color: pink;
    display: inline-block;
    text-align: center;
    padding: 145px 0 0;
    box-sizing: border-box;
}

.normal-price {
    background-color: violet;
}

.vip-price {
    background-color: yellow;
}